<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lista de Compras</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/vue-router@2.0.0"></script>
  </head>

  <body>
    <div id="app">
      <input type="checkbox" id="Jack" value="Jack" v-model="CheckedNames" />
      <label for="Jack">Jack</label>

      <input
        type="checkbox"
        id="Afonso"
        value="Afonso"
        v-model="CheckedNames"
      />
      <label for="Afonso">Afonso</label>

      <input
        type="checkbox"
        id="Frederica"
        value="Frederica"
        v-model="CheckedNames"
      />
      <label for="Frederica">Frederica</label>
      {{CheckedNames}}

      <ul v-for="carro in listaCarrosPT">
        <li>
          <b>{{carro.marca}}</b> - <i>{{carro.cilindrada}}</i> -
          {{carro.cavalos}}
        </li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "deu",
          CheckedNames: [],
          listaCarrosPT: [
            {
              marca: "toyota",
              cilindrada: 3000,
              cavalos: 270,
              ano: 1998,
            },
            {
              marca: "audi",
              cilindrada: 1800,
              cavalos: 300,
              ano: 2019,
            },
            {
              marca: "honda",
              cilindrada: 1600,
              cavalos: 160,
              ano: 2000,
            },
          ],
        },
      });
    </script>
  </body>
</html>